@page "/"


<h1><b>Nuestra Selecci&oacute;n de Pizzas</b></h1>
@foreach (var pizza in Estados.Menu.ListaDePizzas)
{
	<div class="row">
		<div class="col">
			<h2>@pizza.Nombre</h2>
		</div>
		<div class="col text-right">
			<h2>@($"{pizza.Precio:0.00}") $</h2>
		</div>
		<div class="col"></div>
		<div class="col">
			<img src="@ImagenDePicante(pizza.NivelesDePicante)"
				 alt="@pizza.NivelesDePicante"
				 class="img-thumbnail img-fluid" />
		</div>
		<div class="col">
			<button class="btn btn-success pl-4 pr-4"
			@onclick="@(() => AgregarAlCarrito(pizza))">
				Agregar
			</button>
		</div>
	</div>
}

@* División *@

@if (Estados.Carrito.Ordenes.Any())
{
	<h1 class=""> <b>Tu orden actual</b></h1>
	@foreach (var (pizza, pos) in Estados.Carrito.Ordenes.Select(
								(id, pos) => (Estados.Menu.GetPizza(id), pos)))
	{
		<div class="row mb-2">
			<div class="col">
				<h2>@pizza.Nombre</h2>
			</div>
			<div class="col text-right">
				<h2>@($"{pizza.Precio:0.00}")</h2>
			</div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<button class="btn btn-danger"
				@onclick="@(() => EliminarDelCarrito(pos))">
					Eliminar
				</button>
			</div>
		</div>
	}

	<div class="row">
		<div class="col"></div>
		<div class="col"><hr /></div>
		<div class="col"> </div>
		<div class="col"> </div>
	</div>
	<h2>
		<div class="row">
			<div class="col"> Total:</div>
			<div class="col text-right font-weight-bold"> @($"{Estados.PrecioTotal:0.00}")</div>
			<div class="col"> </div>
			<div class="col"> </div>
			<div class="col"> </div>
		</div>
	</h2>
}

@* División *@

<h1>Por favor ingresa tus datos</h1>

<EditForm Model="@Estados.Carrito.Clientes" OnValidSubmit="RealizarOrden">
	<DataAnnotationsValidator />
	<fieldset>
		<div class="row mb-2">
			<label class="col-2" for="name">Nombre:</label>
			<InputText class="form-control col-6"
			@bind-Value="@Estados.Carrito.Clientes.Nombre" />
		</div>
		<div class="row mb-2">
			<div class="col-6 offset-2">
				<ValidationMessage For="@(() => Estados.Carrito.Clientes.Nombre)" />
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-2" for="street">Calle:</label>
			<InputText class="form-control col-6"
			@bind-Value="@Estados.Carrito.Clientes.Calle" />
		</div>
		<div class="row mb-2">
			<div class="col-6 offset-2">
				<ValidationMessage For="@(() => Estados.Carrito.Clientes.Calle)" />
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-2" for="city">Ciudad:</label>
			<InputText class="form-control col-6"
			@bind-Value="@Estados.Carrito.Clientes.Ciudad" />
		</div>
		<div class="row mb-2">
			<div class="col-6 offset-2">
				<ValidationMessage For="@(() => Estados.Carrito.Clientes.Ciudad)" />
			</div>
		</div>
		<div class="row mb-2">
			<button class="mx-auto w-25 btn btn-success"
			@onclick="RealizarOrden">
				Pagar
			</button>
		</div>
	</fieldset>
</EditForm>

@* @Estados.ToJson() *@

@code {

	private Estados Estados { get; } = new Estados();

	protected override void OnInitialized()
	{
		Estados.Menu.AgregarPizza(
		new Pizzas(1, "Pepperoni", 8.99M, NivelesDePicante.Picante));
		Estados.Menu.AgregarPizza(
		new Pizzas(2, "Margarita", 7.99M, NivelesDePicante.Ninguno));
		Estados.Menu.AgregarPizza(
		new Pizzas(3, "Diabolo", 9.99M, NivelesDePicante.Caliente));
	}

	private string ImagenDePicante(NivelesDePicante nivelesDePicante)
	=> $"{nivelesDePicante.ToString().ToLower()}.png";

	private void AgregarAlCarrito(Pizzas pizzas)
	=> Estados.Carrito.Agregar(pizzas.Id);

	private void EliminarDelCarrito(int pos)
	=> Estados.Carrito.RemoveAt(pos);

	private void RealizarOrden()
	{
		Console.WriteLine("Placing order");
	}

}
